In [273]:
import pandas as pd

In [274]:
weather_df = pd.read_csv('csv/weather/clean_weather_data.csv')
weather_df.head()

,DATE,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,FOG,THUNDER,HAIL,RIME,WIND
0,2022-01-01 00:00:00+00:00,1.91,0.0,0.0,63.0,46.0,57.0,0.0,1.0,0.0,0.0,0.0
1,2022-01-02 00:00:00+00:00,1.44,0.0,0.0,70.0,50.0,50.0,0.0,0.0,0.0,0.0,0.0
2,2022-01-03 00:00:00+00:00,0.05,0.0,0.0,50.0,26.0,27.0,0.0,0.0,0.0,0.0,0.0
3,2022-01-04 00:00:00+00:00,0.00,0.0,0.0,32.0,19.0,23.0,0.0,0.0,0.0,0.0,0.0
4,2022-01-05 00:00:00+00:00,0.00,0.0,0.0,45.0,23.0,42.0,0.0,0.0,0.0,0.0,0.0

In [275]:
weather_df['DATE'] = pd.to_datetime(weather_df['DATE'])
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DATE     545 non-null    datetime64[ns, UTC]
 1   PRCP     545 non-null    float64
 2   SNOW     545 non-null    float64
 3   SNWD     545 non-null    float64
 4   TMAX     545 non-null    float64
 5   TMIN     545 non-null    float64
 6   TOBS     545 non-null    float64
 7   FOG      545 non-null    float64
 8   THUNDER  545 non-null    float64
 9   HAIL     545 non-null    float64
 10  RIME     545 non-null    float64
 11  WIND     545 non-null    float64
dtypes: datetime64[ns, UTC](1), float64(11)
memory usage: 51.2 KB

In [276]:
weather_df.nunique()

DATE       545
PRCP        87
SNOW         8
SNWD         6
TMAX        74
TMIN        71
TOBS        71
FOG          2
THUNDER      2
HAIL         2
RIME         2
WIND         2
dtype: int64

In [277]:
tmax_weather = weather_df.groupby('DATE')['TMAX'].sum()
tmin_weather = weather_df.groupby('DATE')['TMIN'].sum()
prcp_weather = weather_df.groupby('DATE')['PRCP'].sum()

In [278]:
type(prcp_weather)

pandas.core.series.Series

In [279]:
prcp_weather.describe()

count    545.000000
mean       0.148128
std        0.384982
min        0.000000
25%        0.000000
50%        0.000000
75%        0.090000
max        4.240000
Name: PRCP, dtype: float64

In [280]:
tmax_df = pd.DataFrame(tmax_weather)
tmin_df = pd.DataFrame(tmin_weather)
prcp_df = pd.DataFrame(prcp_weather)

tmax_df.reset_index()
tmin_df.reset_index()
prcp_df.reset_index()

                         DATE  PRCP
0   2022-01-01 00:00:00+00:00  1.91
1   2022-01-02 00:00:00+00:00  1.44
2   2022-01-03 00:00:00+00:00  0.05
3   2022-01-04 00:00:00+00:00  0.00
4   2022-01-05 00:00:00+00:00  0.00
..                        ...   ...
540 2023-06-28 00:00:00+00:00  0.01
541 2023-06-29 00:00:00+00:00  0.00
542 2023-06-30 00:00:00+00:00  0.39
543 2023-07-01 00:00:00+00:00  0.68
544 2023-07-02 00:00:00+00:00  0.41

[545 rows x 2 columns]