In [286]:
from datetime import datetime
from meteostat import Stations, Daily
import pandas as pd

In [287]:
run_data = pd.read_csv('csv/run/run_data.csv')

In [288]:
start = datetime(2022, 1, 1)
end = datetime(2023, 7, 19)

In [289]:
stations = Stations()
stations = stations.nearby(37.64471283182502, -83.71428340673447)
weather_station = stations.fetch(1)

In [290]:
weather_station

,name,country,region,wmo,icao,latitude,longitude,elevation,timezone,hourly_start,hourly_end,daily_start,daily_end,monthly_start,monthly_end,distance
id,,,,,,,,,,,,,,,,
CZF98,Jackson Carroll Airport,US,KY,<NA>,KJKL,37.5914,-83.3144,421.0,America/New_York,2022-04-23,2023-07-20,2022-04-24,2022-04-26,NaT,NaT,35715.990269

In [291]:
data = Daily(weather_station.iloc[:], start, end)
data = data.fetch()

In [292]:
weather_data = pd.DataFrame(data)

In [293]:
weather_data.dtypes

tavg    float64
tmin    float64
tmax    float64
prcp    float64
snow    float64
wdir    float64
wspd    float64
wpgt    float64
pres    float64
tsun    float64
dtype: object

In [294]:
weather_data.iloc[:1]

            tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  tsun
time
2022-04-24  24.0  18.0  29.0   NaN   NaN  203.0   8.7   NaN  1019.8   NaN

In [295]:
run_data['start_date'] = pd.to_datetime(run_data['start_date'])
run_data['start_date'].dtype

datetime64[ns, UTC]

In [296]:
run_data = run_data.set_index('start_date')

In [297]:
run_data.head()

,name,distance,moving_time,elapsed_time,total_elevation_gain,type,id,start_date_local,timezone,utc_offset,...,end_latlng,average_speed,max_speed,elev_high,elev_low,pr_count,distance_miles,moving_time_minutes,moving_time_hours,decoded_polyline
start_date,,,,,,,,,,,,,,,,,,,,,
2023-07-19 18:29:19+00:00,PMRP : Sore Heel Loop and Drive By Loop,8693.2,2864,3001,317.7,Run,9483406201,2023-07-19T14:29:19Z,(GMT-05:00) America/New_York,-14400.0,...,"[37.64476018957794, -83.71412549167871]",3.035,12.572,337.0,256.4,0,5.40,47.73,0.80,"[(37.64496, -83.71436), (37.64526, -83.71463),..."
2023-07-16 20:59:54+00:00,RRG : Rush Trail to Gray’s Arch Loop,6312.2,2374,2448,173.8,Run,9464901645,2023-07-16T16:59:54Z,(GMT-05:00) America/New_York,-14400.0,...,"[37.80759441666305, -83.65820646286011]",2.659,6.223,392.0,255.0,0,3.92,39.57,0.66,"[(37.80793, -83.6578), (37.80796, -83.65779), ..."
2023-07-15 21:24:26+00:00,PMRP : Lode Loop and Drive By Loop,5532.4,1884,1967,124.0,Run,9458318004,2023-07-15T17:24:26Z,(GMT-05:00) America/New_York,-14400.0,...,"[37.64471283182502, -83.71428340673447]",2.936,10.748,338.3,259.0,0,3.44,31.40,0.52,"[(37.64481, -83.71404), (37.6448, -83.71398), ..."
2023-07-13 21:28:17+00:00,PMRP : Lode Loop and Sore Heel loop,7940.5,2861,2886,153.7,Run,9446383475,2023-07-13T17:28:17Z,(GMT-05:00) America/New_York,-14400.0,...,"[37.64474954456091, -83.71427284553647]",2.775,9.488,305.7,259.0,0,4.93,47.68,0.79,"[(37.64472, -83.71422), (37.64477, -83.71392),..."
2023-07-12 20:20:42+00:00,PMRP : Sore Heel Loop,7090.5,2341,2365,210.0,Run,9439898989,2023-07-12T16:20:42Z,(GMT-05:00) America/New_York,-14400.0,...,"[37.64480469748378, -83.71436378918588]",3.029,13.532,348.9,259.0,0,4.41,39.02,0.65,"[(37.64469, -83.71428), (37.64467, -83.71432),..."

In [298]:
weather_data[:]

            tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  tsun
time
2022-04-24  24.0  18.0  29.0   NaN   NaN  203.0   8.7   NaN  1019.8   NaN
2022-04-25  22.3  18.0  28.0  19.2   NaN  222.0   9.4   NaN  1018.8   NaN
2022-04-26  12.3   8.0  17.0   8.9   NaN  307.0   9.9   NaN  1022.7   NaN
2022-04-27  11.8   4.0  18.0   0.0   NaN  308.0   8.4   NaN  1024.6   NaN
2022-04-28  13.6   7.0  20.0   0.0   NaN   56.0   7.4   NaN  1023.0   NaN
...          ...   ...   ...   ...   ...    ...   ...   ...     ...   ...
2023-07-15  24.0  21.7  28.0   4.4   NaN  291.0   4.3   NaN  1011.9   NaN
2023-07-16  23.7  20.0  28.3   0.4   NaN  316.0   3.8   NaN  1014.3   NaN
2023-07-17  23.8  19.0  28.0   3.5   NaN  291.0   4.1   NaN  1016.0   NaN
2023-07-18  22.1  17.2  29.0  14.4   NaN  249.0   6.1   NaN  1017.2   NaN
2023-07-19  23.3  19.4  28.6   5.4   NaN  245.0   8.8   NaN  1017.6   NaN

[451 rows x 10 columns]

In [299]:
# for index, row in run_data.iterrows():
#     run_date = row[:]
#     matching_weather_row = weather_data[:] == run_date

#     if not matching_weather_row.empty:
#         weather_info = matching_weather_row[:].values[0]
#         combined_df = combined_df.append({'Date' : run_date, 'Weather_Info' : weather_info}, ignore_index=True)