In [130]:
import requests
import pandas as pd
import secrets

In [131]:
url = 'https://api.weather.gov/gridpoints/{wfo}/{x},{y}/forecast/hourly?units=us'

wfo = 'JKL'
x = 48
y = 52

endpoint = url.format(wfo=wfo, x=x,y=y)

response = requests.get(endpoint)
response

In [132]:
if response.status_code == 200:

    data = response.json()
    periods = data['properties']['periods']
    
    df = pd.DataFrame(periods)
    
else:
    print("Error:",response)

In [133]:
columns = df.columns.to_list()
columns

['number',
 'name',
 'startTime',
 'endTime',
 'isDaytime',
 'temperature',
 'temperatureUnit',
 'temperatureTrend',
 'probabilityOfPrecipitation',
 'dewpoint',
 'relativeHumidity',
 'windSpeed',
 'windDirection',
 'icon',
 'shortForecast',
 'detailedForecast']

In [134]:
temperature_df = pd.DataFrame(columns=['startTime', 'temperature', 'dewpoint', 'relativeHumidity'])

for index, row in df.iterrows():
    startTime = row['startTime']
    temperature = row['temperature']
    dewpoint = row['dewpoint']
    relativeHumidity = row['relativeHumidity']

    new_row = pd.DataFrame({'startTime' : [startTime],
                            'temperature' : [temperature],
                            'dewpoint' : [dewpoint],
                            'relativeHumidity' : [relativeHumidity]})
    temperature_df = temperature_df.append(new_row, ignore_index=True)

temperature_df

/var/folders/02/lzvd5scj4zb274qzdzm7r7p80000gn/T/ipykernel_38040/54242982.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  temperature_df = temperature_df.append(new_row, ignore_index=True)

,startTime,temperature,dewpoint,relativeHumidity
0,2023-07-18T19:00:00-04:00,73,"{'unitCode': 'wmoUnit:degC', 'value': 20.55555...","{'unitCode': 'wmoUnit:percent', 'value': 87}"
1,2023-07-18T20:00:00-04:00,72,"{'unitCode': 'wmoUnit:degC', 'value': 20.55555...","{'unitCode': 'wmoUnit:percent', 'value': 90}"
2,2023-07-18T21:00:00-04:00,72,"{'unitCode': 'wmoUnit:degC', 'value': 20.55555...","{'unitCode': 'wmoUnit:percent', 'value': 90}"
3,2023-07-18T22:00:00-04:00,71,"{'unitCode': 'wmoUnit:degC', 'value': 20}","{'unitCode': 'wmoUnit:percent', 'value': 90}"
4,2023-07-18T23:00:00-04:00,70,"{'unitCode': 'wmoUnit:degC', 'value': 20}","{'unitCode': 'wmoUnit:percent', 'value': 93}"
...,...,...,...,...
151,2023-07-25T02:00:00-04:00,66,"{'unitCode': 'wmoUnit:degC', 'value': 16.66666...","{'unitCode': 'wmoUnit:percent', 'value': 87}"
152,2023-07-25T03:00:00-04:00,66,"{'unitCode': 'wmoUnit:degC', 'value': 16.66666...","{'unitCode': 'wmoUnit:percent', 'value': 87}"
153,2023-07-25T04:00:00-04:00,65,"{'unitCode': 'wmoUnit:degC', 'value': 16.66666...","{'unitCode': 'wmoUnit:percent', 'value': 90}"
154,2023-07-25T05:00:00-04:00,64,"{'unitCode': 'wmoUnit:degC', 'value': 16.66666...","{'unitCode': 'wmoUnit:percent', 'value': 93}"
155,2023-07-25T06:00:00-04:00,63,"{'unitCode': 'wmoUnit:degC', 'value': 16.66666...","{'unitCode': 'wmoUnit:percent', 'value': 97}"

In [136]:
url = 'https://www.ncei.noaa.gov/cdo-web/api/v2/'

token = secrets.weather_token

headers = {
    'token' : token
}

response = requests.get(url,headers=headers)

if response.status_code == 200:
    data = response.json()
else:
    print(f'Request failed with status code: {response.status_code}')

data = pd.DataFrame(data)
data

,path,method,parameters
0,v2/datatypes,GET,"[{'name': 'datasetid', 'required': False}, {'n..."
1,v2/records/data,GET,"[{'name': 'datasetid', 'required': True}, {'na..."
2,v2/datacategories,GET,"[{'name': 'datasetid', 'required': False}, {'n..."
3,v2/datasetstationdatatypes,GET,"[{'name': 'datasetid', 'required': False}, {'n..."
4,v2/products,GET,"[{'name': 'datasetid', 'required': False}, {'n..."
5,v2/locations,GET,"[{'name': 'datasetid', 'required': False}, {'n..."
6,v2/locationcategories,GET,"[{'name': 'datasetid', 'required': False}, {'n..."
7,v2/datasets,GET,"[{'name': 'datatypeid', 'required': False}, {'..."
8,v2/lcd/availablereporttypes,GET,"[{'name': 'stationid', 'required': False}, {'n..."
9,v2/search,GET,"[{'name': 'resulttype', 'required': True}, {'n..."
10,v2/products/{id},GET,[]
11,v2/datasetlocationdatatypes,GET,"[{'name': 'datasetid', 'required': False}, {'n..."
12,v2/stations,GET,"[{'name': 'datasetid', 'required': False}, {'n..."
13,v2/datasets/{id},GET,[]
14,v2/datatypes/{id},GET,[]
15,v2/datacategories/{id},GET,[]
16,v2/data,GET,"[{'name': 'datasetid', 'required': False}, {'n..."
17,v2/stations/{id},GET,[]
18,v2/locationcategories/{id},GET,[]
19,v2/locations/{id},GET,[]
20,v2/records/summary,GET,"[{'name': 'datasetid', 'required': False}, {'n..."
21,v2/records/potential,GET,"[{'name': 'locationid', 'required': True}, {'n..."

In [ ]:
pathways

['v2/datatypes',
 'v2/records/data',
 'v2/datacategories',
 'v2/datasetstationdatatypes',
 'v2/products',
 'v2/locations',
 'v2/locationcategories',
 'v2/datasets',
 'v2/lcd/availablereporttypes',
 'v2/search',
 'v2/products/{id}',
 'v2/datasetlocationdatatypes',
 'v2/stations',
 'v2/datasets/{id}',
 'v2/datatypes/{id}',
 'v2/datacategories/{id}',
 'v2/data',
 'v2/stations/{id}',
 'v2/locationcategories/{id}',
 'v2/locations/{id}',
 'v2/records/summary',
 'v2/records/potential']

In [ ]:
url = 'https://www.ncei.noaa.gov/access/services/data/v1?'

params = {
    'dataset' : 'daily-summaries'
}
# Send GET request
response = requests.get(url, params=params)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    # Print the response content
    print(response.content.decode())
else:
    print(f'Request failed with status code: {response.status_code}')

Request failed with status code: 400

https://www.ncei.noaa.gov/access/search/index